form {
    padding: 20px;
}

input.card-secure {
    -webkit-text-security: disc;
}

#mapid {
    height: 300px;
}

#bike-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bike-list-cell {
    padding-left: 10px;
    padding-right: 10px
}

