form {
    padding: 20px;
}

input.card-secure {
    -webkit-text-security: disc;
}

#mapid {
    height: 300px;
}

#bike-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    background: rgba(37, 178, 235, 0.733);
    width: 100%;
}

table {
    width: 100%;
}

tbody {
    width: 100%;
}

.bike-list-cell {
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 2px;
}

.rent-btn {
    background:green;
    color:white;
    border-radius: 5px;
    /* padding: 16px; */
    font-size: 18px;
}

